      </div>
    <footer><span><a href="/pages/about/">About</a> | <a href="/pages/terms-and-conditions/">Terms</a> | <a href="/pages/contact/">Contact</a> | <a href="https://github.com/LegalRepository" target="_blank"><i class='fab fa-github fa-lg'></i></a> <a href="https://twitter.com/LegalRepository" target="_blank"><i class='fab fa-twitter-square fa-lg'></i></a></span> <span class="right"><a href="https://legalrepository.org/" target="_blank">Legal Repository</a> &copy; <script>document.write(new Date().getFullYear())</script></span></footer>
  </body>
</html>
